#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.8
Type=Application
Terminal=true
Exec=python3 /home/ubuntu/CSLManager/CSLManager.py
Name=CSL Manager 
Comment=CSL Manager
